Repository dreemurrs-embedded/Pine64-Arch, pull requests merged in 2023-05, with the labels that each got.

#544 pkg: phosh: feedbackd: upgrade to 0.2.0
  PKGBUILDS/phosh/feedbackd/PKGBUILD
Labels: ui: phosh, upgrade

#548 pkg: sxmo: codemadness-frontends: upgrade to 0.6
  PKGBUILDS/sxmo/codemadness-frontends/PKGBUILD
Labels: upgrade, ui: sxmo

#549 pkg: sxmo: sxmo-utils: add patches for mms and nerd-fonts 3.0
  PKGBUILDS/sxmo/sxmo-utils/0001-avoid-conflicting-with-systemd-services.patch
  PKGBUILDS/sxmo/sxmo-utils/0002-Fixup-icons-for-nerd-fonts-3.0.patch
  PKGBUILDS/sxmo/sxmo-utils/0003-Manual-fixups-for-nerd-fonts-3.0.patch
  PKGBUILDS/sxmo/sxmo-utils/0004-Fix-broken-printf-statements-in-modemtext.patch
  PKGBUILDS/sxmo/sxmo-utils/0005-Don-t-kill-tailtextlog-when-changing-recipients.patch
  PKGBUILDS/sxmo/sxmo-utils/0006-Update-fontconfig.conf-for-nerd-fonts-3.0.patch
  PKGBUILDS/sxmo/sxmo-utils/PKGBUILD
Labels: bug, ui: sxmo

#545 pkg: phosh: phoc: upgrade to 0.27.0
  PKGBUILDS/phosh/phoc/PKGBUILD
Labels: ui: phosh, upgrade
